-r requirements.txt
cov-core==1.7
coverage==3.6
docutils==0.10
execnet==1.1
flake8==2.0
mccabe==0.2.1
mock==1.0.1
pep8==1.4.6
pip-tools==0.2.1
py==1.4.12
pyflakes==0.7.3
pytest-cache==0.9
pytest-cov==1.6
pytest==2.3.4
wheel==0.22.0
